_*
~*
*~

*default*
*example*

# mutt
mutt/mutt/accounts
mutt/mutt/cache
mutt/mutt/certificates

# tmux plugins
tmux/tmux/plugins

# tmux resurrect
tmux/tmux/resurrect

# tmux sessions
tmux/tmux/sessions

# vim plugins cache
vim/vim/bundle/.vundle

# vim swapfiles
vim/vim/swapdir

# vim undotree file
vim/vim/undodir

# misc
.DS_Store
