# html snippets
# Adrian Juszczak
# adrian@juszczak.io

snippet html "html5 template"
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>$1</title>
	</head>
	<body>
		$2
	</body>
</html>
endsnippet
